
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300&family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=PT+Sans&display=swap');
@font-face {
    font-family: "Butler_Regular";
    src: url("../public/font/Butler_Regular.otf");

    font-family: "Futura.ttc";
    src: url("../public/font/Futura.ttc");


    font-family: "Hatton-Ultralight";
    src: url("../public/font/PP Hatton Ultralight 200.otf");

    font-family: "futura-light-bt";
    src: url("../public/font/futura-light-bt.ttf");

    font-family: "Hatton-medium";
    src: url("../public/font/PP Hatton Medium 500.otf")
    
    
}



.title_ingredient{
    position: relative;
    top: 100px;
    
}


.utilisations_carousel{

    display: none;

}

.certif_carousel{
    display: none;
}



.image_mobile{
    display: none;
}

.anim_mobile{
    display: none;
}

.space{
    display: none;
}


.related_mobile{
    display: none;
}

.carousel-indicators li { visibility: hidden; }

.product{
    display: grid;
    place-items: center;
    color: #997647;
    font-size: 10px;

    width: 250px;
    text-align: center;

}

.products{
    display: flex;
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    justify-content: space-between;
    font-family:"futura-light-bt";
    padding-top: 20px;
    background-color: transparent;

    

}


.image_left_2{
   display: none;
}

.products p{
    font-size: 13px;
}
.product_img{
    transform: translate(-2%,-95%);
}


.arcade_container{
    position: absolute;
    top: -110px;
    z-index: -2;

}
.Ingredient{
    position: absolute;
    top: 95vh;
    width: 100%;
    
    height: 90vh;

    /* background-image: url("../public/arcade (2).svg"); */
    background-size: cover;
 

    display: grid;
    place-items: center;
    
    
}


.animation_video{
    position: relative;
    top: 120px;
    left: -30px;
}



.product_animation{

    margin-top: 60px;

    width: 100vw;
    display: grid;
    place-items: center;

}


.ajouter_btn{
    width: 25%;
    background-color:#e0aa86;
    color: white;
   font-size: 30px;
    padding: 18px;
    border: none;
    outline-width: 0;
  
    transform: translate(0%,-120%);
    font-family:"futura-light-bt";
   
    
    
}


.fq_container{
    width: 80%;

    position: relative;
    top: -150px;
    left: 10px;

}

.fq_container h1{
    text-align: center;
    
    font-family: "futura-light-bt";

    font-size: 40px;

}


.fq_container h2{
    text-align: center;
    
    font-family: "futura-light-bt";

   font-size: 30px;

}

.fq_row{
    width: 100%;
    background-color: #EDE3DD;
   
    cursor: pointer;
    
}


.fq_row h3{
    color: #e0aa86;
    font: 18px;
    padding: 10px;
    font-family: "futura-light-bt";
}


.fq_row p{
    font-family: "futura-light-bt";
    background-color: #f4efea;
    padding: 70px;
    transition: top 0.3s;
    
}



.Images{
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  
}


.image_text_1{
     
   
    position: relative;
    bottom: 320px;
    transform: translate(50%);
}


.image_text_2{
   
    position: relative;
    bottom: 300px;
    transform: translate(3%);
}


.utilisations{
  
    display: grid;
    place-items: center;
    position: relative;
    top: -100px;
    width: 70%;

   

}

.utilisations h1 {
    text-align: center;
    
    font-family: "futura-light-bt";

    font-size: 40px;

}

.utilisation_field{

    display: grid;
    place-items: center;

    font-size: 18px;

    width: 150px;
    text-align: center;

}


.related{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 50px;
}

.related>h1{

    

    text-align: center;
    
    font-family: "futura-light-bt";

    font-size: 40px;
}

.related_list{
    display: flex;
    width: 80%;
    transform: translate(13%,10%);
    
    justify-content: space-around;
  
}

.texture{
    display: grid;
    place-items: center;
    position: relative;
    top: 150px;
  }
  
  
  .texture_title1 {
    font-size: 40px;
    font-family:  'Lato', sans-serif;
    text-align: end;
    width: 400px;
    font-weight: 30;
    position: relative;
    color: white;
    bottom: 100%;
    transform: translate(-40%);

  }


  .Insta_mobile{
      display: none;
  }
  .texture_title2{

    font-size: 40px;
    font-family:  'Lato', sans-serif;
    text-align: left;
    width: 400px;
    font-weight: 30;
    position: relative;
   
    transform: translate(70%,-330%);

  }

  .controls{
      display: flex;
      width: 80%;
      justify-content: space-between;
      position: relative;
      top: 200px;
      z-index: 2;
      cursor: pointer;
  }

  .texture_text{
      width: 300px;
      transform: translate(80%,-350%);
      font-family: "futura-light-bt";
     
  }




  .voyage{
      display: grid;
      place-items: center;
      position: relative;
      top: -350px;
     width: 100vw;
  

  }

  .ajouter_btn_banner{
    width: 25%;
    background-color:#e0aa86;
    color: white;
    font-size: 20px;
    padding: 18px;
    border: none;
    outline-width: 0;
  
    transform: translate(0%,-20%);
    font-family:"futura-light-bt";

  }
  .row{
      width: 100%;
  }
  .voyage h1{
    text-align: center;
    
    font-family: "futura-light-bt";

    font-size: 40px;
  }

  .video{
      width: 100%;
      transform: translate(-2%);
  }



  .comment_section{
    width: 100vw;
    background-color: #f4efea;
    /* padding-left: 20px; */
    display: grid;
    place-items: center;
    padding: 20px;

  }

  
.comment_section_header{
    display: flex;
    width: 100%;
     
    
    

    
    
}


.other_comment{
    display: flex;
    
    flex: 1;

}

.texture_small2{
    display: none;
}


.comment_section_header_left h1{
    font-size: 45px;
    font-family: "futura-light-bt";
}


.comment_section_header_left p{
    font-family: "futura-light-bt";
    font-size: 25px;
    padding-left: 20px;
    width: 500px;
    position: relative;
    bottom: 50px;
}

.comment_section_header_right{
    margin-top: 100px;
}


.comment_section_body{
    width: 80vw;
    display: flex;
     align-self: center;
  
    justify-content: space-between;
    transform: translate(-5%);
}


.pagination{
    transform: translate(370%,30%);
   
}


.product_container{
    
    display: flex;
    justify-content: space-around;
}

.slider{
    
    margin: 0 auto; 
    width: 50%;
    
    display: grid;
    place-items: center;
 
    
}


.certif_row{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

.banner{
    width: 100%;
    background: url("../public/image4.png");
    display: grid;
    place-items: center;
    color: white;
    padding: 100px;
    background-size: cover;
}

.banner h1{
    font-family: 'PT Sans', sans-serif;
}


.banner p {
    font-family:"futura-light-bt";
    width: 600px;
    text-align: center;
    margin-bottom: 7%;
}

.Insta{
    width: 100vw;
    transform: translate(-1%);
}

.border{
    width: 101%;
    background-color: #e0aa86;
    height: 5px;
    border: none;
}

.prize{
    width: 100%;
    background: url("../public/image5.png");
    display: grid;
    place-items: center;

    padding: 100px;
    background-size: cover;

}


.prize h1{
    font-family:"Hatton-medium" ;
}


.prize p {
    font-family:"futura-light-bt";
    width: 80%;
    text-align: center;
    margin-bottom: 7%;
    font-size: 40px;
}

.avis_container{
    width: 80%;
    margin: 10px;
}

.avis_container h1{
    text-align: center;
    
    font-family: "futura-light-bt";

    font-size: 40px;

}

.utilisations_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "futura-light-bt";
}

.utilisations_row{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.texture_small{
    display: none;
}



.texture_small2{
    display: none;
}


.texture_meduim{
    display: none;
}


@media screen and (max-width:1300px) {

   
.related{
    display: none;
}

.related_mobile{
    display: block;
    width: 100%;
    
}


.related_mobile>h1{

    

    text-align: center;
    
    font-family: "futura-light-bt";

    font-size: 40px;
    position: relative;
    left: -10%;

    
}
   
    .products{
        
        transform: translate(-10%,0%);

  
 
    
   
    
    
    }


    .fq_container{
        transform: translate(-5%);
        
    }


    .avis_container{
        transform: translate(-5%);

    }

    .certif_row{
        width: 70%;
        position: relative;
        
    }

        .Ingredient{
            position: absolute;
            top: 95vh;
            width: 100%;
            
        height: 90vh;
    
        background-image: none;
     
    
        display: grid;
        place-items: center;
        
        
    }
    



    .product_animation{

        transform: translate(0%);

    }

    .ajouter_btn{
        width: 25%;
    background-color:#e0aa86;
    color: white;
    font-size: 20px;
    border: none;
    outline-width: 0;
    transform: translate(-20%,-100%);
    margin-top: 20px;
    margin-bottom: 20px;

    font-family:"futura-light-bt";
    }
  

  .utilisations{
      position: relative;
      top: 100px;
      margin-bottom: 100px;
  }
  .texture{
    position: relative;
    top: 130px;

  }
}



.arcade1{
    display: none;
}


@media screen and (max-width:700px) {


    .arcade1{
        position: relative;
        top: -5px;
    }



    .anim_mobile_title{
        position: relative;
        transform: translate(32%);
    }



    .anim_mobile{
        display: block;
        position: relative;
        left: -50px;
    }




    .anim_mobile video{
        
       transform: translate(15%,-10%);
    }

    .product_animation{
        display: none;
    }

    
    .arcade_container{
        position: absolute;
        top: 0px;
        z-index: -2;
    
    }


    

    .texture{
        transform: translate(45%);
    }


    .Images{
        display: block;
    }

    .image_left_1{
        display: none;
    }

    .image_left_2{
        display: flex;
    }


    .fq_container{
       transform: translate(-10%);
       width: 80%;
       
    }
  
     
.avis_container{
    transform: translate(50%);
       width: 80%;
       

}
    .texture_small{
        display: block;
        position: relative;
        left: -50px;
        margin: 30px;

    }

    .texture_big{
        display: none;
    }

    .products{
        display: block;
        transform: translate(5%,0%);
      
        width: 80%;
        margin: 0 auto;
        
       

  
 
    
   
    
    
    }

    .texture_title1{
        font-size: 18px;
        position: relative;
       left: -80px;
       top: -130px;
    }


    .texture_title2{
        font-size: 16px;
        position: relative;
        top: -130px;
        left: -40px;
        width: 150px;
    }
    .utilisations{
        transform: translate(40%);
    }

    .Ingredient{
        position: absolute;
        top: 95vh;
        width: 100%;
        
        height: 90vh;
    
        background-image: none;
     
    
        display: grid;
        place-items: center;
        
        
    }

    .texture_text{
        font-size: 10px;
        position: relative;
        top: 80px;
        left: -55px;
        width: 150px;
      

    }

    .utilisations_list{
        display: grid;
        place-items: center;
        width: 100%;
        position: relative;
        left: 40px;
      
    }


    .utilisations_row{
        width: 130%;
        

    }


    .utilisations_row p{
        font-size: 12px;

    }

    .utilisation_field{
        width: 100%;
        font-size: 10px;
        margin: 20px;
    }

    .utilisation_field p{
        width: 150px;
        font-size: 18px;
    }

    .utilisations h1{

       font-size: 30px;
        position: relative;
        left: 30px;
       


    }
    



    .product_animation{

        transform: translate(20%);

    }


    
    .ajouter_btn{
        width: 50%;
    background-color:#e0aa86;
    color: white;
    
    border: none;
    outline-width: 0;
    transform: translate(50%,-80%);
   

    font-family:"futura-light-bt";
    }



    .voyage h1{
       font-size: 30px;
        position: relative;
        left: -30px;
        top: 50px;
    }

    .video{
        margin-top: 100px;
        position: relative;
        left: -40px;
    }

    .comment_section{
        position: relative;
        left: -25px;
    }

    .comment_section_header{
        position: relative;
        left: 10%;
    }
    .comment_section_header_left h1{
        display: none;
    }

    .comment_section_header_left p {
        display: none;
    }

    .comment_section_header_right{
        display: none;
    }

    .ajouter_btn_banner{
        width: 50%;
        background-color:#e0aa86;
        color: white;
        font-size: 15px;
        padding: 20px;
        border: none;
        outline-width: 0;
      
        transform: translate(-20%,2%);
        font-family:"futura-light-bt";
    
      }

      .banner h1{
         font-size: 16px;
         position: relative;
         left: -10%;
      }


      .certif_row{
          min-width: 60vw;
          transform: translate(20%);
      }
      .banner p{
          font-size: 18px;
          position: relative;
          width: 350px;
         left: -10%;
         margin: 20px;
      }
 

      .Insta{
          display: none;
      }

      .Insta_mobile{
        display: block;
        position: relative;
        left: -40px;
        top: -60px;
    }

    .banner {
        transform: translate(22%);
    }


    .prize {
        transform: translate(22%);
    }
   
    .prize h1{
       font-size: 30px;
    }

    .prize p{
        font-size: 15px;
        position: relative;
        left: -30px;
        width: 350px;
        
    }
     
    .product_desc{
        visibility: hidden;
    }


    .title_ingredient img{
        position: relative;
        

        width:300px;
        transform: translate(-5%,-100%);
        
    }

    .animation_video{
        position: relative;
        width: 380px;
    }
    


    .fq_container{
        transform: translate(50%);
    }
    

    .related_mobile>h1{


       font-size: 30px;

    }
}


@media screen and (max-width:520px) {


    .arcade{
        display: none;
    }


    .arcade1{
        display: block;
    }

}

@media screen and (max-width:580px) {


   

    .space{
        display: block;
    }


    .anim_mobile{
        display: block;
    }


    .anim_mobile img{
        width: 300px;
        object-fit: contain;
        transform: translate(-20%,30%);
    }

    .product_animation{
        display: none;
    }

  
    .avis_container{
        position: relative;
       left: 50px;
       
    }


    .products>.certif_row{
        transform: translate(30%);
         
        width: 100%;
    }
  

    


    .texture_text{
        margin-top: 20px;
        
    }


    .prize {
        position: relative;
        left: -40px;
    }


    .prize img{
        position: relative;
        left: -10px;
    }


    .prize h1{
        margin: 30px;
    }
    .prize p{
       font-size: 30px;
    }

     .product_animation{
         position: relative;
         left: 5000px;
     }
    .products{
        transform: translate(-15%,-30%);
       
      
    }

    .texture{
        transform: translate(30%,-13%);
    }




    .fq_container{
        transform: translate(30%);
    }


    .avis_container{
        transform: translate(30%);
    }


    .utilisations{
        transform: translate(18%,-10%);
    }


    .ajouter_btn{
        width: 250px;
        font-size: 15px;
        transform: translate(30%,-50%);
        padding: 20px;
    }

    .fq_row h3{

        font-size: 18px;
    
    }
}


@media screen and (max-width:450px) {

    .utilisations_list{
        display: none;
    }


    .controls_certif{
        
            display: flex;
            width: 50%;
            justify-content: space-between;
            position: relative;
             top: 100px;
            z-index: 2;
            cursor: pointer;
   
      
    }


    .controls_use{
        
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
         top: 150px;
         left: 10px;
        z-index: 2;
        cursor: pointer;

  
}


    .image_mobile{
        display: block;
    }

    .image_web{
        display: none;
    }

    .certif_carousel{
        display: block;
        transform: translate(10%);
    }


    .utilisations_carousel{
        
        display: block;
        transform: translate(10%,-55%);

    }
    .arcade1{
        position: relative;
        top: 100px;
    }

.related_mobile{
    width: 80%;
    transform: translate(-10%);
}
    


    .anim_mobile_title{
        position: relative;
        transform: translate(28%, 50%);
    }



    .anim_mobile{
        display: block;
        position: relative;
        left: -50px;
    }

   
    .title_ingredient img{

        width: 400px;
        position: relative;
        left: 20px;
        top: -100px;

    }

    .products{
        transform: translate(2%,55%);
    }



   
    .utilisations_row{
        /* display: block;
        position: relative;
        left: 15px; */

        width: 80%;
        position: relative;
        
        top: -180px;
    }


    .utilisations{
        transform: translate(10%,-15%);
    }


    .utilisations h1{
        position: relative;
        top: -160px;
        margin-top: 30px;
        width: 120%;
        left: 50px;
        
    }

    .product_animation{
        position: relative;
        
    }



    .certif_row{
      max-width:  100px;
       transform: translate(70%);
       display: none;
     
  }

  .product{
      margin-top: 20px;
  }


  .ajouter_btn{
      position: relative;
      transform: translate(15%,-40%);
      font-size: 20px;
      padding: 20px;
    
     
  }


  .utilisations {
      position: relative;
      /* left: -120px; */
      left: -105px;

  }


  .texture{
      position: relative;
      left: 55px;
  }
  
  .texture_small{
      display: none;
  }

  .texture_meduim{
      display: block;
      position: relative;
      left: -150px;
  }


  .texture_title1{
      font-size: 15px;
      position: relative;
      left: -190px;
      top: -80px;
  }


  .texture_title2{
       font-size: 15px;
       position: relative;
       left: -150px;
       top: -50px;
  }


  .texture_text{
       left: -160px;
       top: 60px;
       font-size: 8px;
       max-width: 130px;
      
  }


  .voyage{
      position: relative;
      left: -85px;
      margin-top: 50px;
  }


.comment_section{
    position: relative;
    left: -130px;
}


.banner{
    position: relative;
    left: -80px;

}

.Insta_mobile{
    width: 50%;
    left: -150px;
}

.prize{
    position: relative;
    left: -85px;
}




.fq_row{
    width: 100vw;
    position: relative;
    left: -30px;
    top: -50px;
    text-align: center;
}


.fq_row h3{
    font-size: 14px;
    
}

.fq_row p{
  font-size: 16px;
  padding: 8px;
 

  
  
}

.fq_container {
   position: relative;
   top: 110px;
  transform: translate(10%,-60%);
}

.fq_container h1{
  margin-top:35px ;
  font-weight: bold;
  font-size: 30px;
  max-width: 350px;
  position: relative;
  left: 35px;
  font: bold;
}

.fq_container h2{
  font-size: 20px;
  max-width: 380px;
  margin-bottom: 10px;
  position: relative;
  left: 35px;
  font-weight: bold;
}

.avis_container{
  transform: translate(16%,-10%);
  min-width:95vw;
  

}





.avis_container p{
    font-size: 20px;
  }
  


.banner h1{
  font-size: 30px;

   text-align: center;

}

.banner p{
  font-size: 18px;
  position: relative;
  transform: translate(1%);
}

.ajouter_btn_banner{
  font-size: 15px;
  transform: translate(-20%);
  width: 60%;
}

.Insta_mobile{
  position: relative;
  margin-left: 120px;
  
  
}

.prize p {
    position: relative;
    transform: translate(-2%);
    font-size: 25px;
}


.prize h1{
    position: relative;
    left: -40px;
}


.prize img{
    position: relative;
    left: -40px;
}

 .texture_small2{
        display: block;
        position: relative;
        /* left: -140px; */
        left: -17px;
        top: -250px;

       
    }


    .texture_small2 img{
        object-fit: contain;
    }


    .texture_text{
        display: none;
    }

    .texture_title1 {
        display: none;
    }


    .texture_title2{
        display: none;
    }

    .fq_row h3{

        font-size: 18px;
    
    }


    .Insta_mobile{
        background-color: #fafafa;
    }


}


@media screen and (max-width:400px) {


  

    .fq_container h1{
  

        font-size: 30px;



    }

    .title_ingredient img{

        width: 350px;
        position: relative;
        left: 20px;

    }


    .avis_container h1{
        font-size: 30px;
      }

   
      .utilisations_row{
          /* display: block;
          position: relative;
          left: 15px; */

          width: 75%;
          position: relative;
          right: 20px;
          top: -30px;
      }


    


      .product_animation{
          position: relative;
          left: -70px;
          top: -60px;
      }
      .certif_row{
         width: 300px;
       
    }

    .product{
        margin-top: 20px;
    }


    .ajouter_btn{
        position: relative;
        left: -70px;
        top: -30px;
        font-size: 12px;
      
       
    }


    .utilisations {
        position: relative;
        /* left: -120px; */
        left: -120px;

    }


    .texture{
        position: relative;
        left: 35px;
    }
    
    .texture_small{
        display: none;
    }


    .texture_meduim{
        display: none;
    }
    
    

    .texture_title1{
        font-size: 15px;
        position: relative;
        left: -190px;
        top: -80px;
    }


    .texture_title2{
         font-size: 15px;
         position: relative;
         left: -150px;
         top: -50px;
    }


    .texture_text{
         left: -160px;
         top: 60px;
         font-size: 8px;
         max-width: 130px;
        
    }


    .voyage{
        position: relative;
        left: -85px;
        margin-top: 50px;
    }


  .comment_section{
      position: relative;
      left: -130px;
  }


  .banner{
      position: relative;
      left: -80px;

  }

  .Insta_mobile{
      width: 50%;
      left: -150px;
  }

  .prize{
      position: relative;
      left: -85px;
  }


  .certif_row{
      position: relative;
      top: -60px;
      left: -25px;
  }


  .fq_row{
      max-width: 300px;
      position: relative;
      left: 20px;
  }
  .fq_row h3{
      font-size: 10px;
      
  }

  .fq_row p{
    font-size: 9px;
    padding: 8px;
    
    
}


.fq_container h1{
    margin-top:30px ;
    font-size: 30px;
    max-width: 320px;
}

.fq_container h2{
    font-size: 13px;
    max-width: 350px;
    margin-bottom: 10px;
}
 
.avis_container{
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: -80px;
    
}
 

.avis_container h1{
    font-size: 30px;
    
}




.banner p{
    font-size: 18px;
}

.ajouter_btn_banner{
    font-size: 20px;
    width: 50%;
    padding: 5px;
}

.Insta_mobile{
    position: relative;
    margin-left: 60px;
    
    
}

.fq_row h3{

    font-size: 18px;

}



}




@media screen and (max-width:380px) {




    .texture_small2{
        display: block;
        position: relative;
        /* left: -140px; */
        left: -2px;
        top: -300px;

       
    }


    



    .related_mobile{
        position: relative;
        left: -5%;
        width: 60%;
    }

   .anim_mobile_title{
        position: relative;
        transform: translate(25%);

    }



    .anim_mobile{
       
        transform: translate(-5%);
        
    
    }


    .title_ingredient img{

        width: 300px;
        position: relative;
        left: 5px;

    }


    .prize p {
        position: relative;
        left: -19px;
    }



    .arcade1{
        position: relative;
        top: 50px;
    }

    



    .products{
        transform: translate(1%,5%);
    }
    


    .ajouter_btn{
        transform: translate(5%,-10%);
        font-size: 14px;
    }
    .texture{
        transform: translate(20%,15%);
    }

   .avis_container{
     transform: translate(15%);
   }

   .fq_container{
       transform: translate(5%,-30%);
      
   }

   .fq_container h2 {
       position: relative;
       left: 20px;

   }


   .Insta_mobile{
       transform: translate(8%);

   }

   .fq_row p{
       font-size: 14px;
      
   }

   .fq_row h3{
    font-size: 14px;
    text-align: center;
}


   .banner{
       transform: translate(15%);
   }


   .prize{
       transform: translate(15%)
   }

  

   .products>.certif_row{
    transform: translate(38%,80%);
     
    width: 100%;


}


.banner p {
    font-size: 18px;
}


.fq_row h3{

    font-size: 18px;

}
}



@media screen and (max-width:920px) {



    .products{
        position: relative;
        left: -50px;
    }
    .product_animation{
        position: relative;
        left: -150px;
    }

    .ajouter_btn{

        position: relative;
        left: -130px;

    }

   
    .certif_row{
        position: relative;
        left: -50px;
        width: 50%;

    }


    .fq_container{
        position: relative;
        left: -150px;
        width: 50%;
    }


    .utilisations{
        position: relative;
        left: -180px;
        width: 60%;
    }


    .texture{
        position: relative;
        left: -180px;
     
    }

    .Images{
        display: block;
    }


    .image_left_2{
        display: block;
    }


    .image_left_1{
        display: none;
    }




    .avis_container{

        position: relative;
        left: -150px;
        width: 50%;

    }


    .banner{

        position: relative;
        left: -170px;

    }


    .Insta{

        position: relative;
        left: -180px;


    }


    .prize{
          position: relative;
        left: -180px;

    }



}